.title-and-menu-contianer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  grid-area: 1 / 1 / 6 / 2;
}

.orange-color-title {
  color: #ffa500;
  font-weight: 900;
}

h1 {
  font-size: 1.9rem;
  text-align: center;
  margin-top: 5%;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #CDC9C9;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon-menu-button-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: #ffa500;
  text-align: left;
  margin-top: 10%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 0.9rem;
  padding-left: 15px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #152238;
}

.menu-active-state {
  color: #800080;
}

img {
  height: 30px;
  display: inline;
  align-items: center;
  margin-left: 10px;
}
