body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat-Regular.ttf'), format('truetype');
  src: local('Montserrat'), url('./fonts/Montserrat-MediumItalic.ttf'), format('truetype');
  src: local('Montserrat'), url('./fonts/Montserrat-Medium.ttf'), format('truetype');
  src: local('Montserrat'), url('./fonts/Montserrat-ExtraBold.ttf'), format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
